<p>
  <mat-toolbar color="primary" *ngIf="user.role == '3'">
    <span>EnBAG</span>
    <span class="spacer"></span>
    <span routerLinkActive="active">
      <button mat-icon-button (click)="onSignOut()" routerLink="auth/signin">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <mat-toolbar color="accent" *ngIf="user.role == '2'">
    <span>EnBAG</span>
    <span class="spacer"></span>
    <span routerLinkActive="active">
      <button mat-icon-button (click)="onSignOut()" routerLink="auth/signin">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <mat-toolbar class="admin" *ngIf="user.role == '1'">
    <span>EnBAG</span>
    <span class="spacer"></span>
    <span routerLinkActive="active">
      <button mat-icon-button (click)="onSignOut()" routerLink="auth/signin">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</p>
