button {
  align-content: center;
}

.child {
  display: flex;
  justify-content: center;
}

.img {
  /*max-width: 100%;*/
  align-items: center;
}

.mat-flat-button {
  max-height: 36px;
}

.mat-icon.mat-list-icon {
  font-size: 1px;
}

/*.myFlexedImage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}*/
