.mat-flat-button {
  margin: 2% 5%;
}

h2 {
  text-align: center;
}

.imgCenter {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.center {
  display: block;
  align-content: center;
}

.row {

}
