<div class="container-fluid">
  <div class="row">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <h2>Register</h2>
      <img src="assets/enbag-logo.svg" class="imgCenter">
      <div class="row">
        <div class="col-sm-4">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name"
                 [ngClass]="{'is-invalid': submitted && f.firstName.errors}">
          <div class="invalid-feedback d-block" *ngIf="submitted && f.firstName.errors">
            First name is required
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name"
                   [ngClass]="{'is-invalid': submitted && f.lastName.errors}">
          </div>
          <div class="invalid-feedback d-block" *ngIf="submitted && f.lastName.errors">
            Last name is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="name@example.com"
                   [ngClass]="{'is-invalid': submitted && f.email.errors}">
          </div>
          <div class="invalid-feedback d-block" *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">E-mail is required</div>
            <div *ngIf="f.email.errors.email">E-mail is invalid</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"
                   [ngClass]="{'is-invalid': submitted && f.password.errors}">
            <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.pattern">Password need to have at least 6 characters</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="passwordConf">Password Confirmation</label>
            <input type="password" class="form-control" id="passwordConf" formControlName="passwordConf" placeholder="Password Confirmation"
                   [ngClass]="{'is-invalid': submitted && f.passwordConf.errors}">
            <div class="invalid-feedback d-block" *ngIf="submitted && f.passwordConf.errors">
              <div *ngIf="f.passwordConf.errors.required">Password confirmation is required</div>
              <div *ngIf="f.passwordConf.hasError('mustMatch')">Passwords must match</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" formControlName="address" placeholder="Address"
                   [ngClass]="{'is-invalid': submitted && f.address.errors}">
            <div class="invalid-feedback d-block" *ngIf="submitted && f.address.errors">
              <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city" placeholder="City"
                   [ngClass]="{'is-invalid': submitted && f.city.errors}">
            <div class="invalid-feedback d-block" *ngIf="submitted && f.city.errors">
              <div *ngIf="f.city.errors.required">City is required</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="postCode">Postal Code</label>
            <input type="number" class="form-control" id="postCode" formControlName="postCode" placeholder="ZIP"
                   [ngClass]="{'is-invalid': submitted && f.postCode.errors}">
            <div class="invalid-feedback d-block" *ngIf="submitted && f.postCode.errors">
              <div *ngIf="f.postCode.errors.required">Postal code is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="number" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number"
                   [ngClass]="{'is-invalid': submitted && f.phoneNumber.errors}">
            <div class="invalid-feedback d-block" *ngIf="submitted && f.phoneNumber.errors">
              <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
            </div>
          </div>
        </div>
      </div>
      <button mat-flat-button color="primary" type="submit">Sign up</button>
      <button mat-flat-button (click)="cancelClick()">Cancel</button>
    </form>
    <p class="text-danger" *ngIf="!f.firstName.errors ||
                                !f.lastName.errors ||
                                !f.email.errors ||
                                !f.password.errors ||
                                !f.passwordConf.errors ||
                                !f.address.errors ||
                                !f.city.errors ||
                                !f.postCode.errors ||
                                !f.phoneNumber.errors">{{errorMessage}}</p>
  </div>
</div>


