<div class="row">
    <h2>Orders</h2>
    <mat-list>
        <div mat-subheader>New</div>
        <mat-action-list *ngFor="let order of arrayFilter('new')">
          <button mat-list-item (click)="onViewOrder(order.orderID)">
            <h3 matLine>Order - {{order.orderNumber}}</h3>
            <p matLine>{{order.status}}</p>
          </button>
        </mat-action-list>
    </mat-list>
    <mat-list>
      <div mat-subheader>First appointment</div>
      <mat-action-list *ngFor="let order of arrayFilter('first appointment set')">
        <button mat-list-item (click)="onViewOrder(order.orderID)">
          <h3 matLine>Order - {{order.orderNumber}}</h3>
          <p matLine>{{order.status}}</p>
        </button>
      </mat-action-list>
    </mat-list>
  <mat-list>
    <div mat-subheader>Second appointment</div>
    <mat-action-list *ngFor="let order of arrayFilter('second appointment set')">
      <button mat-list-item (click)="onViewOrder(order.orderID)">
        <h3 matLine>Order - {{order.orderNumber}}</h3>
        <p matLine>{{order.status}}</p>
      </button>
    </mat-action-list>
  </mat-list>
  <mat-list>
    <div mat-subheader>Waiting for payment</div>
    <mat-action-list *ngFor="let order of arrayFilter('waiting for payment')">
      <button mat-list-item (click)="onViewOrder(order.orderID)">
        <h3 matLine>Order - {{order.orderNumber}}</h3>
        <p matLine>{{order.status}}</p>
      </button>
    </mat-action-list>
  </mat-list>
  <mat-list>
    <div mat-subheader>Ready to activate</div>
    <mat-action-list *ngFor="let order of arrayFilter('ready to activate')">
      <button mat-list-item (click)="onViewOrder(order.orderID)">
        <h3 matLine>Order - {{order.orderNumber}}</h3>
        <p matLine>{{order.status}}</p>
      </button>
    </mat-action-list>
  </mat-list>
  <mat-list>
    <div mat-subheader>Closed</div>
    <mat-action-list *ngFor="let order of arrayFilter('closed')">
      <button mat-list-item (click)="onViewOrder(order.orderID)">
        <h3 matLine>Order - {{order.orderNumber}}</h3>
        <p matLine>{{order.status}}</p>
      </button>
    </mat-action-list>
  </mat-list>
</div>
