<div class="child">
  <div class="row center">
    <div class="col-sm-8">
      <img src="assets/enbag-logo.svg" class="imgCenter">
      <h1>Log in</h1>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" id="email" class="form-control" formControlName="email"
                 [ngClass]="{'is-invalid': submitted && f.email.errors}">
          <div class="invalid-feedback d-block" *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">E-mail is required</div>
            <div *ngIf="f.email.errors.email">E-mail is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password"
                 [ngClass]="{'is-invalid': submitted && f.password.errors}">
          <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="row center">
          <div class="container center">
            <button mat-flat-button color="primary" type="submit">Log in</button>
            <span class="spacer"></span>
            <button mat-flat-button color="primary" class="btn-yellow" type="button" (click)="open(content)">Reset password</button>
          </div>
            <div class="container center" routerLinkActive="active">
              <button mat-flat-button color="accent" routerLink="../signup" type="button" *ngIf="location">Register</button>
            </div>
        </div>
      </form>
      <p class="text-info" *ngIf="!location">You need to access this page by scanning a code QR to register</p>
      <p class="text-danger">{{errorMessage}}</p>
      <div class="footer"></div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
   <div class="modal-header">
     <h4 class="modal-title" id="modal-basic-title">Reset password</h4>
     <button mat-icon-button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <mat-icon>close</mat-icon>
     </button>
   </div>
  <form [formGroup]="resetPassForm" (ngSubmit)="onSubmitPassReset()">
  <div class="modal-body">
      <div class="form-group">
        <label for="emailPassReset">Email</label>
        <input type="text" id="emailPassReset" class="form-control" formControlName="emailPassReset"
               [ngClass]="{'is-invalid': resetPassSubmitted && frp.emailPassReset.errors}">
        <div class="invalid-feedback d-block" *ngIf="resetPassSubmitted && frp.emailPassReset.errors">
          <div *ngIf="frp.emailPassReset.errors.required">E-mail is required</div>
          <div *ngIf="frp.emailPassReset.errors.email">E-mail is invalid</div>
        </div>
      </div>
  </div>
    <p class="text-danger" *ngIf="!frp.emailPassReset.errors">{{errorMessageRP}}</p>
  <div class="modal-footer">
    <button type="button" mat-raised-button (click)="modal.dismiss('Cancel click')">Cancel</button>
    <button type="submit" mat-raised-button color="primary" (click)="modal.close">Confirm</button>
  </div>
  </form>
</ng-template>

